html,body{
    font-size: 16px;
    background-color: lightblue;
    margin: 0;
    height: 100%;
}

.container{
    height: 100%; 
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    padding: 40px;
    background-color: lightgray;
    display: grid;
    grid-template-rows: auto 3fr 1fr;
    justify-content: center;
    gap:20px;
    text-align: center;

}

.content{
    margin: 40px;
    background-color: cadetblue;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    
    grid-auto-rows:min-content;

    gap:20px;
    padding: 20px;
}


.placeholdercard{
    display: grid; 
     align-content: space-between;
    background-color: rgb(175, 184, 185);
    word-wrap: break-word;
    grid-template-rows: 1fr auto;
    border-radius: 5px;
    box-shadow: 3px 5px 10px black;
    padding: 20px;
    /* max-height: 200px; */
}

.pagesread{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    justify-self: flex-end;
}


.titleauthor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    >h1{
        margin: 0;
        font-size: 2.0rem;
        max-width: 10ch;

    }
    >h2{
    font-size: 1.4rem;;
    margin: 0;
    }
}

.inputfield{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

button{
    width: 80%;
    border-radius: 5px;
}

.cardcontrol{
    display: flex;
    justify-content: center;
    gap:20px;
    >img{
        height: 40px;
        cursor: pointer;
        
    }
    >img:hover{
        background-color: rgb(219, 219, 219);
    }
}

#beenread{
    padding: 0;
    width: 10ch;
}